.liBackground {
  background-color: rgb(242, 236, 236);
}
.smallFont {
  font-size: 16px;
}
.match {
  background-color: #ffc600;
}
ul li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px) scale(1.001);
};
ul li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(3px) scale(1.001);
}
.bgc {
  background: #ffc600;
}